Repository fullstacksjs/wakatime: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.ts": "eslint --fix",
  "*.{md,json,css,html}": "prettier --write"
}

feat: add restart on failure
  docker-compose.yml
Due: none

chore: update dependencies
  Dockerfile.api
  Dockerfile.bot
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update pnpm version to 11.16.0
  package.json
  pnpm-workspace.yaml
Due: prettier --write

fix: fix trailing / issue
  src/core/services/HttpClient.ts
Due: eslint --fix

chore: update awilix
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update linter
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update ts to v6
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/bot/commands/reportError.ts
  src/bot/middleware/auth.ts
  src/core/repos/UsageModel.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: migrate to h3 v2
  package.json
  pnpm-lock.yaml
  src/api/Api.ts
  src/api/getReport.ts
  src/api/getUsers.ts
  src/api/middleware/auth.ts
  src/api/setUsername.ts
  src/bot/Bot.ts
  src/bot/BotApi.ts
Due: eslint --fix, prettier --write

chore: migrate to puppeteer 25.3.0
  Dockerfile.bot
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: add support for programming languages
  package.json
  src/core/models/User.ts
  src/core/repos/Repo.ts
  src/core/repos/UserModel.spec.ts
  src/core/repos/UserModel.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add backfill for programming languages
  src/api/getUsers.ts
  src/core/repos/Repo.ts
  src/core/repos/UserModel.spec.ts
  src/core/services/LeaderboardService.ts
Due: eslint --fix

fix: fix undefined query params
  src/core/services/ApiSDK.ts
Due: eslint --fix

fix: fix missing sync db
  src/core/services/LeaderboardService.spec.ts
  src/core/services/LeaderboardService.ts
Due: eslint --fix

feat: schedule nightly /day report at 21:00 UTC
  .env.example
  package.json
  pnpm-lock.yaml
  src/bot/Bot.ts
  src/bot/commands/day.ts
  src/bot/jobs/dailyReportJob.ts
  src/bot/jobs/index.ts
  src/config/getConfig.ts
  src/type.d.ts
Due: eslint --fix, prettier --write

ci: add ci/cd workflow
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  package.json
Due: prettier --write

fix deploy script
  .github/workflows/deploy.yml
  docker-compose.prod.yml
Due: none

ci: add release script
  scripts/release.sh
Due: none

1.1.0
  package.json
Due: prettier --write

ci: fix docker cache type
  .github/workflows/deploy.yml
Due: none

1.1.1
  package.json
Due: prettier --write

fix(bot): escape HTML entities in bot messages and error reports
  src/bot/Bot.ts
  src/bot/Context.ts
  src/bot/commands/day.ts
  src/bot/commands/reportError.ts
  src/core/models/User.ts
  src/utils/html.spec.ts
  src/utils/html.ts
Due: eslint --fix

refactor and fix env validation
  .gitignore
  src/config/getConfig.ts
  src/utils/env.ts
Due: eslint --fix

refactor and fix env validation (#25)
  .gitignore
  src/config/getConfig.ts
  src/utils/env.ts
Due: eslint --fix

allow killing bot on code changes on dev
  src/bot/Bot.ts
  src/bot/jobs/index.ts
  src/main.ts
Due: eslint --fix

add wakatime req text
  src/core/models/Leaderboard.ts
Due: eslint --fix
