Repository fullstacksjs/wakatime: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

move dev deps to devDependencies
  package.json
  pnpm-lock.yaml
Due: prettier --write

improve error handling
  package.json
  pnpm-lock.yaml
  src/bot/Bot.ts
  src/bot/Context.ts
  src/bot/commands/advent.ts
  src/bot/commands/boundaryHandler.ts
  src/bot/commands/day.ts
  src/bot/commands/reportError.ts
  src/bot/commands/set.ts
  src/bot/commands/users.ts
  src/core/models/Leaderboard.ts
Due: eslint --fix, prettier --write

upgrade lowdb
  package.json
  pnpm-lock.yaml
  src/core/repos/Repo.ts
Due: eslint --fix, prettier --write

migrate api to h3
  .cspell.json
  package.json
  pnpm-lock.yaml
  src/api/Api.ts
  src/api/getReport.ts
  src/api/getUsers.ts
  src/api/setUsername.ts
  src/bot/Bot.ts
  src/config/initContainer.ts
Due: eslint --fix, prettier --write

migrate bot to h3
  package.json
  pnpm-lock.yaml
  src/api/getReport.ts
  src/api/getUsers.ts
  src/bot/Bot.ts
  src/bot/BotApi.ts
  src/bot/commands/users.ts
  src/core/repos/Repo.ts
  src/core/services/ApiSDK.ts
Due: eslint --fix, prettier --write

fix memory leak
  package.json
  pnpm-lock.yaml
  src/bot/commands/day.ts
  src/core/services/puppeteer.ts
Due: eslint --fix, prettier --write

improve configs
  .env.example
  eslint.config.mjs
  package.json
  pnpm-lock.yaml
  src/api/Api.ts
  src/bot/Bot.ts
  src/bot/BotApi.ts
  src/bot/Context.ts
  src/bot/commands/day.ts
  src/config/getConfig.ts
  src/config/initContainer.ts
  src/core/services/AdventService.ts
  src/core/services/ApiSDK.ts
  src/core/services/LeaderboardService.ts
  src/core/services/WakatimeSDK.ts
  src/main.ts
  src/type.d.ts
Due: eslint --fix, prettier --write

update dockerfiles
  .cspell.json
  Dockerfile.api
  Dockerfile.bot
  docker-compose.yml
  package.json
Due: prettier --write

fix puppeteerExecPath config
  src/config/getConfig.ts
Due: eslint --fix

fix indent
  src/bot/Context.ts
  src/bot/commands/day.ts
Due: eslint --fix

upgrade deps
  .npmrc
  package.json
  pnpm-workspace.yaml
Due: prettier --write

fix set username command
  src/api/setUsername.ts
  src/bot/Context.ts
  src/bot/commands/reportError.ts
  src/bot/commands/set.ts
  src/config/getConfig.ts
  src/core/repos/Repo.ts
  src/core/services/ApiSDK.ts
  src/type.d.ts
Due: eslint --fix

add API auth
  .env.example
  src/api/setUsername.ts
  src/core/services/ApiSDK.ts
  src/type.d.ts
Due: eslint --fix

add missing config
  src/api/setUsername.ts
  src/config/getConfig.ts
Due: eslint --fix

fix cache issue
  src/core/services/puppeteer.ts
Due: eslint --fix

fix: fix LICENSE filename
  LICENSE
Due: none

feat: upgrade dependencies and modify some config files
  .lintstagedrc.json
  .prettierignore
  .prettierrc
  cspell.json
  eslint.config.mjs
  eslint.config.ts
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  prettier.config.js
  tsconfig.json
Due: eslint --fix, prettier --write

feat: add vscode settings for fileNesting and on-save formatting
  .gitignore
  .vscode/settings.json
Due: prettier --write

style: enable node eslint module
  eslint.config.ts
  package.json
Due: eslint --fix, prettier --write

fix: disable the page cache
  src/bot/Context.ts
  src/core/services/puppeteer.ts
  src/main.ts
Due: eslint --fix

revert: remove .vscode/settings and ignore it again
  .gitignore
  .vscode/settings.json
Due: prettier --write

revert: add fullstacksjs/tsconfig back
  eslint.config.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: eslint --fix, prettier --write

chore: remove pnpm from volta and upgrade versions
  package.json
Due: prettier --write

chore: revert .gitignore
  .gitignore
Due: none

fix: fix puppeteer version
  Dockerfile.bot
Due: none

chore: upgrade dependencies
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  src/core/services/AdventService.ts
Due: eslint --fix, prettier --write

chore: lint code
  src/api/getUsers.ts
  src/api/setUsername.ts
  src/bot/Context.ts
  src/bot/commands/day.ts
  src/bot/commands/reportError.ts
  src/bot/commands/users.ts
  src/core/repos/Repo.ts
  src/core/services/puppeteer.ts
  src/type.d.ts
Due: eslint --fix

feat: remove advent of code
  .env.example
  src/bot/Bot.ts
  src/bot/commands/advent.ts
  src/config/getConfig.ts
  src/config/initContainer.ts
  src/core/services/AdventService.ts
  src/type.d.ts
Due: eslint --fix

chore: migrate from axios to fetch api
  package.json
  pnpm-lock.yaml
  src/bot/commands/reportError.ts
  src/core/services/ApiSDK.ts
  src/core/services/HttpClient.ts
  src/core/services/WakatimeSDK.ts
Due: eslint --fix, prettier --write

feat: improve wakatime authorization
  src/api/getReport.ts
  src/bot/Context.ts
  src/core/services/LeaderboardService.ts
  src/core/services/WakatimeSDK.ts
Due: eslint --fix

fix: sync puppeteer version
  Dockerfile.bot
Due: none

Path conditions:
  eslint --fix: any of: *.ts
  prettier --write: any of: *.{md,json,css,html}
